/.idea
/.vscode
*.pyc
__pycache__/
.DS_Store
venv
.venv
*.env*
*.sql
*.png
logs
hakili/conf/settings.conf.*
apps/*/migrations/*
!apps/*/migrations/__init__.py
static/
files/
public/
staticfiles/
db.sqlite3
inventory/
location/
hakili/conf/__init__.py