/.idea
/.vscode
*.pyc
__pycache__/
.DS_Store
venv
.venv
.env
logs
hakili/conf/settings.conf.*
apps/*/migrations/*
!apps/*/migrations/__init__.py
static/
files/
public/
staticfiles/
db.sqlite3
*.sql
*.png