asgiref==3.5.0  --install-option="--no-deps"
backports.zoneinfo==0.2.1  --install-option="--no-deps"
certifi==2021.10.8  --install-option="--no-deps"
charset-normalizer==2.0.12  --install-option="--no-deps"
configparser==5.2.0  --install-option="--no-deps"
coreapi==2.3.3  --install-option="--no-deps"
coreschema==0.0.4  --install-option="--no-deps"
dj-database-url==0.5.0  --install-option="--no-deps"
Django==4.0.3  --install-option="--no-deps"
django-cors-headers==3.11.0  --install-option="--no-deps"
django-countries==7.3.1  --install-option="--no-deps"
django-currentuser==0.5.3  --install-option="--no-deps"
django-environ==0.8.1  --install-option="--no-deps"
django-extensions==3.1.5  --install-option="--no-deps"
django-filter==21.1  --install-option="--no-deps"
django-model-utils==4.2.0  --install-option="--no-deps"
django-restql==0.15.1  --install-option="--no-deps"
django-seed==0.3.1  --install-option="--no-deps"
django-versatileimagefield==2.2  --install-option="--no-deps"
djangorestframework==3.13.1  --install-option="--no-deps"
djangorestframework-simplejwt==5.1.0  --install-option="--no-deps"
drf-nested-routers==0.93.4  --install-option="--no-deps"
drf-writable-nested==0.6.3  --install-option="--no-deps"
drf-yasg==1.20.0  --install-option="--no-deps"
Faker==13.3.3  --install-option="--no-deps"
gunicorn==20.1.0  --install-option="--no-deps"
idna==3.3  --install-option="--no-deps"
inflection==0.5.1  --install-option="--no-deps"
itypes==1.2.0  --install-option="--no-deps"
Jinja2==3.0.3  --install-option="--no-deps"
MarkupSafe==2.1.0  --install-option="--no-deps"
mysqlclient==2.0.0  --install-option="--no-deps"
packaging==21.3  --install-option="--no-deps"
Pillow==9.0.1  --install-option="--no-deps"
psycopg2==2.9.3  --install-option="--no-deps"
psycopg2-binary==2.9.3  --install-option="--no-deps"
pygraphviz==1.9  --install-option="--no-deps"
PyJWT==2.3.0  --install-option="--no-deps"
pyparsing==3.0.7  --install-option="--no-deps"
pyPEG2==2.15.2  --install-option="--no-deps"
python-dateutil==2.8.2  --install-option="--no-deps"
python-magic==0.4.25  --install-option="--no-deps"
python-memcached==1.59  --install-option="--no-deps"
pytz==2021.3  --install-option="--no-deps"
requests==2.27.1  --install-option="--no-deps"
ruamel.yaml==0.17.21  --install-option="--no-deps"
ruamel.yaml.clib==0.2.6  --install-option="--no-deps"
six==1.16.0  --install-option="--no-deps"
sqlparse==0.4.2  --install-option="--no-deps"
toposort==1.7  --install-option="--no-deps"
typing-extensions==4.1.1  --install-option="--no-deps"
uritemplate==4.1.1  --install-option="--no-deps"
urllib3==1.26.8  --install-option="--no-deps"
Werkzeug==2.0.3  --install-option="--no-deps"
