--no-depts asgiref==3.5.0
--no-depts backports.zoneinfo==0.2.1
--no-depts certifi==2021.10.8
--no-depts charset-normalizer==2.0.12
--no-depts configparser==5.2.0
--no-depts coreapi==2.3.3
--no-depts coreschema==0.0.4
--no-depts dj-database-url==0.5.0
--no-depts Django==4.0.3
--no-depts django-cors-headers==3.11.0
--no-depts django-countries==7.3.1
--no-depts django-currentuser==0.5.3
--no-depts django-environ==0.8.1
--no-depts django-extensions==3.1.5
--no-depts django-filter==21.1
--no-depts django-model-utils==4.2.0
--no-depts django-restql==0.15.1
--no-depts django-seed==0.3.1
--no-depts django-versatileimagefield==2.2
--no-depts djangorestframework==3.13.1
--no-depts djangorestframework-simplejwt==5.1.0
--no-depts drf-nested-routers==0.93.4
--no-depts drf-writable-nested==0.6.3
--no-depts drf-yasg==1.20.0
--no-depts Faker==13.3.3
--no-depts gunicorn==20.1.0
--no-depts idna==3.3
--no-depts inflection==0.5.1
--no-depts itypes==1.2.0
--no-depts Jinja2==3.0.3
--no-depts MarkupSafe==2.1.0
--no-depts mysqlclient==2.0.0
--no-depts packaging==21.3
--no-depts Pillow==9.0.1
--no-depts psycopg2==2.9.3
--no-depts psycopg2-binary==2.9.3
--no-depts pygraphviz==1.9
--no-depts PyJWT==2.3.0
--no-depts pyparsing==3.0.7
--no-depts pyPEG2==2.15.2
--no-depts python-dateutil==2.8.2
--no-depts python-magic==0.4.25
--no-depts python-memcached==1.59
--no-depts pytz==2021.3
--no-depts requests==2.27.1
--no-depts ruamel.yaml==0.17.21
--no-depts ruamel.yaml.clib==0.2.6
--no-depts six==1.16.0
--no-depts sqlparse==0.4.2
--no-depts toposort==1.7
--no-depts typing-extensions==4.1.1
--no-depts uritemplate==4.1.1
--no-depts urllib3==1.26.8
--no-depts Werkzeug==2.0.3
