asgiref --no-deps
backports.zoneinfo --no-deps
certifi --no-deps
charset-normalizer --no-deps
configparser --no-deps
coreapi --no-deps
coreschema --no-deps
dj-database-url --no-deps
Django --no-deps
django-cors-headers --no-deps
django-countries --no-deps
django-currentuser --no-deps
django-environ --no-deps
django-extensions --no-deps
django-filter --no-deps
django-model-utils --no-deps
django-restql --no-deps
django-seed --no-deps
django-versatileimagefield --no-deps
djangorestframework --no-deps
djangorestframework-simplejwt --no-deps
drf-nested-routers --no-deps
drf-writable-nested --no-deps
drf-yasg --no-deps
Faker --no-deps
gunicorn --no-deps
idna --no-deps
inflection --no-deps
itypes --no-deps
Jinja2 --no-deps
MarkupSafe --no-deps
mysqlclient --no-deps
packaging --no-deps
Pillow --no-deps
psycopg2 --no-deps
psycopg2-binary --no-deps
pygraphviz --no-deps
PyJWT --no-deps
pyparsing --no-deps
pyPEG2 --no-deps
python-dateutil --no-deps
python-magic --no-deps
python-memcached --no-deps
pytz --no-deps
requests --no-deps
ruamel.yaml --no-deps
ruamel.yaml.clib --no-deps
six --no-deps
sqlparse --no-deps
toposort --no-deps
typing-extensions --no-deps
uritemplate --no-deps
urllib3 --no-deps
Werkzeug --no-deps
